// ------------------------------------------------------ Colors //
$black: #000;
$blue: #146eb4;
$green: #228b22;
$orange: #f90;
$red: #b22222;
$white: #fff;

$link-hover: #c45500;
$link: #0066c0;

$list-hover: #dedede;

// ------------------------------------------------------ Base //
body {
	color: $black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
}
