<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-locale="nav__about">About Amazon Smile Redirect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= htmlWebpackPlugin.options.files.head.css %>" rel="stylesheet">
</head>

<body id="asr-about">
  <header>
    <div>
      <a href="http://smile.amazon.com" target="_blank"><img class="icon" src="../assets/images/icon.png" alt="Amazon Smile" /></a>
    </div>
    <div>
      <div class="title" data-locale="appName">Amazon Smile Redirect</div>
      <div class="version"><span data-locale="version">Version</span>: <span id="version-number"></span></div>
    </div>
  </header>

  <section>
    <p data-locale="about__intro">
      Help donate money to your favorite non-profit by purchasing your Amazon
      items through
      <a href="http://smile.amazon.com" target="_blank">Amazon Smile</a>.
    </p>

    <h3 data-locale="about__overviewHeader">Overview:</h3>

    <p data-locale="about__overviewParagraph">
      This Extension will automatically redirect you to the
      corresponding smile.amazon.com page so you will never need to remember
      to go to smile.amazon.com first. In order for your purchase to count you
      must go through Amazon Smile.
    </p>

    <h3 data-locale="about__supportedSitesHeader">Supported Sites:</h3>

    <p>
      amazon.com
      <br />
      amazon.co.uk
      <br />
      amazon.de
    </p>

    <h3 data-locale="about__legalInformationHeader">Legal Information:</h3>

    <p class="disclaimer" data-locale="about__legalInformationParagraph">
      AmazonSmile and the AmazonSmile logo are trademarks of Amazon.com, Inc.
      or its affiliates.
      <br />
      The extension was not created or endorsed by Amazon.
    </p>

    <p class="copyright">
      &copy; <span id="copyright-year"></span> <span data-locale="appName">Amazon Smile Redirect</span>. <span data-locale="about__allRightsReserved">All Rights Reserved</span>.
    </p>
  </section>

  <% for (var script in htmlWebpackPlugin.options.files.body.js) { %>
  <script defer src="<%= htmlWebpackPlugin.options.files.body.js[script] %>"></script>
  <% } %>
</body>

</html>
