<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= htmlWebpackPlugin.options.files.head.css %>" rel="stylesheet">
</head>

<body id="asr-popup">
  <ul>
    <li id="toggle-status">
      <%= htmlWebpackPlugin.options.files.icons.check %><span data-locale="nav__on">On</span>
    </li>

    <li id="toggle-only-logged-in-status" data-locale-key="nav__only_logged_in">
      <%= htmlWebpackPlugin.options.files.icons.times %><span data-locale="nav__only_logged_in">Only when logged in</span>
    </li>

    <li id="toggle-only-checking-out-status" data-locale-key="nav__only_checking_out">
      <%= htmlWebpackPlugin.options.files.icons.times %><span data-locale="nav__only_checking_out">Only when checking out</span>
    </li>

    <li class="external" data-type="amazonSmile">
      <%= htmlWebpackPlugin.options.files.icons.amazon %>AmazonSmile
    </li>

    <li class="external" data-type="about">
      <%= htmlWebpackPlugin.options.files.icons.info %><span data-locale="nav__about">About Amazon Smile Redirect</span>
    </li>

    <li class="external" data-type="devSite">
      <%= htmlWebpackPlugin.options.files.icons.code %><span data-locale="nav__developerWebsite">Developer Website</span>
    </li>

    <li class="external" data-type="donate">
      <%= htmlWebpackPlugin.options.files.icons.heart %><span data-locale="nav__supportExtension">Support this Extension</span>
    </li>
  </ul>

  <% for (var script in htmlWebpackPlugin.options.files.body.js) { %>
  <script defer src="<%= htmlWebpackPlugin.options.files.body.js[script] %>"></script>
  <% } %>
</body>

</html>
