// ------------------------------------------------------ about.html //
#asr-about {
	font-size: 1em;

	header {
		align-items: center;
		border-bottom: 1px solid $black;
		display: flex;
		padding-bottom: 10px;

		.icon {
			display: block;
			margin-right: 10px;
			width: 50px;
		}

		.version {
			font-size: .7em;
		}
	}

	section {
		font-size: .7em;
		padding: 20px 0;
	}

	p {
		margin: 0 0 16px;
	}

	a {
		color: $link;
		text-decoration: none;

		&:hover {
			color: $link-hover;
			text-decoration: underline;
		}
	}

	.title {
		font-size: .9em;
		font-weight: bold;
	}

	.disclaimer {
		font-style: italic;
	}
}
