// ------------------------------------------------------ popup.html //
#asr-popup {
	font-size: 14px;
	margin: 0;
	min-width: 18em;

	ul,
	li,
	p,
	img {
		border: 0;
		margin: 0;
		padding: 0;
	}

	ul {
    grid-template-rows: auto;
		list-style-type: none;
		display: grid;

		li {
			background-color: $white;
			cursor: pointer;
			padding: 7px;
			transition: background-color .25s ease;

			&:hover {
				background-color: $list-hover;
			}

			&.disabled {
				color: $disabled;
			}
		}

		.same-width {
			margin-right: 5px;
		}

    .icon {
      &--inline {
        display: inline-block;
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;

        &--sw {
          width: 1.25em;
        }
      }

      &--sw {
        text-align: center;
        width: 1.25em;
      }

      &--amazon {
        color: $orange;
      }

      &--check {
        color: $green;
      }

      &--info {
        color: $blue;
      }

      &--times,
      &--heart,
      &--bug {
        color: $red;
      }
    }
	}
}
