// ------------------------------------------------------ popup.html //
#asr-popup {
	background-color: $white;
	font-size: .9em;
	margin: 0;
	min-width: 19em;
	padding: .5em;

	ul,
	li,
	p {
		border: 0;
		margin: 0;
		padding: 0;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: .3em;
		list-style-type: none;

		li {
			border-radius: 4px;
			cursor: pointer;
			padding: 10px 7px;
			transition: background-color .25s ease;

			&:hover {
				background-color: $list-hover;
			}

			&.disabled {
				color: $disabled;
			}
		}

		.icon {
			&--inline {
				display: inline-block;
				height: 1em;
				overflow: visible;
				vertical-align: -.125em;
			}

			&--sw {
				margin-right: .4em;
				text-align: center;
				width: 1.25em;
			}

			&--amazon {
				color: $orange;
			}

			&--check {
				color: $green;
			}

			&--info {
				color: $blue;
			}

			&--times,
			&--heart,
			&--bug {
				color: $red;
			}
		}
	}
}
